{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
       <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method='POST'>
              {% csrf_token %}
              <div class="form-group">
              {% comment %} {{form.as_p}} {% endcomment %}
                {% comment %} <textarea class="form-control" rows="3" name='content'></textarea>  {% endcomment %}
              <textarea class="form-control" name="content" cols="40" rows="10" required="" id="id_content">{{object.content}}</textarea>
              </div>
              <button type="submit" class="btn btn-primary" >Update</button>
            </form>
          </div>
        </div>
        </form>
      </div>

{% endblock %}


 