{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
       <div class="card my-4">
          <h5 class="card-header">Update Post</h5>
          <div class="card-body">
            <form method='POST'>
              {% csrf_token %}
              {{form.as_p}}
              <button type="submit" class="btn btn-primary" >Update</button>
              </div>
            </form>
          </div>
        </div>
        </form>

{% endblock %}


 