{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
       <div class="card my-4">
          <h5 class="card-header">Update Avatar</h5>
          <div class="card-body text-center">
            {% if user.userprofile.avatar %}
            <img class="rounded border" style="width:200px" src="{{user.userprofile.avatar.url}}">
            {% elif user.first_name and user.last_name %}
            <img class="rounded" src="https://avatars.dicebear.com/api/initials/{{user.first_name.0}}_{{user.last_name.0}}.svg" style="width:200px" alt="">
            {% else %}
            <img class="rounded" src="https://avatars.dicebear.com/api/initials/{{user.username.0}}.svg" style="width:200px" alt="">
            {% endif %}
            <hr>
            <form method='POST' enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                {{form.as_p}}
              </div>
              <button type="submit" class="btn btn-primary" >Update</button>
            </form>
          </div>
        </div>
        </form>
      </div>

{% endblock %}


 