{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <div class="card my-4">
        <h5 class="card-header">The Team</h5>
        <div class="card-body">
        <div class="d-flex justify-content-around"> 

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'bb_blue_cut.png'%}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Owner</h5>
          <div class="card-text text-white-50">Engineer / Data Scientist</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://via.placeholder.com/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-white-50">Web Developer</div>
        </div>
      </div>
    </div>


  </div>
  <!-- /.row -->

</div>

      </div>
      </div>
      </div>
      </div>


<!-- /.container -->

{% endblock %}
