{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h3 class="my-4"><small><a  style="text-decoration: none" href="{% url 'categories' %}">All categories</a>/{{cat.name}}</small></h3>
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                </tr>
            </thead>
            <tbody>
            
            {% for item in posts %}
                <tr>
                <th scope="row">{{item.id}}</th>
                <td><a href="{% url 'post_details' post_slug=item.slug%}"> {{item.title}} </td>
                </tr>
            {% empty %}
                No data
            {% endfor %}
            </tbody>
            </table>
      </div>

{% endblock %}
