{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h3 class="my-4"><small>All comments by {{user}}</small></h3>
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Content</th>
                <th scope="col">Post</th>
                <th scope="col">Change</th>
                </tr>
            </thead>
            <tbody>
            
            {% for item in comments_by_logged_user %}
                <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td> {{item.content}} </td>
                <td> {{item.source_post.title}}
                <td> <a class="btn btn-warning" href="{% url 'update_comment' pk=item.id %}" role="button">Edit</a> <a class="btn btn-danger" href="{% url 'delete_comment' pk=item.id %}" role="button">Delete</a> </td>
                </tr>
            {% empty %}
                No data
            {% endfor %}
            </tbody>
            </table>
      </div>

{% endblock %}
